body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;

  nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #324376;
    z-index: 99;

    a {
      text-decoration: none;
      color: black;
    }

    .logo {
      padding: 20px;
      font-size: 1.6rem;

      span{
        font-size: 0.7rem;
      }
    }

    .navbar {
      margin: 0;
      display: flex;
      justify-content: space-between;
      list-style: none;

      .place {
        margin-right: 10px;
        padding: 35px 20px;

        &:hover {
          background-color: #586BA4;
          cursor: pointer;
          color: #F5DD90;
        }
      }
    }
    .cart {
      display: flex;
      justify-content: space-between;
      margin-right: 10px;

      .forCart{
        padding: 30px 20px;
        font-size: 1.7rem;

        &:hover {
          background-color: #586BA4;
          cursor: pointer;
          color: #F76C5E;
        }
      }
    }
  }

  main {

    h1 {
      margin-top: 120px;
      text-align: center;
    }
  
    .container {
     

      #cartInfo {
      
        .productCard {
          width: 50%;
          display: flex;
          justify-content: space-evenly;
          border: 1px solid red;
          margin: 20px 20px;

          img {
           width: 200px;
           object-fit: cover;
           border: 1px solid blue;
          }

          .productDetails {
            margin: 50px;
            border: 1px solid yellow;

            h3 {
              text-align: center;
            }

            span {
              display: block;
              margin: 10px 10px;
            }

            .buttons {

              button {
              margin: 10px;

              padding: 5px 10px;
              border-radius: 10px;
              border: 1px solid white;

              }
              .addBtn {
                background-color: #324376;
                color: whitesmoke;

                &:hover {
                  border: 1px solid #324376;
                  background-color: #586BA4;
                  color: #F5DD90;
                  cursor: pointer;
                }

              }

              .deleteBtn {
                background-color: #F76C5E;
                color: whitesmoke;

                &:hover {
                border: 1px solid #F76C5E;
                  background-color: #F76C5E;
                  color: #F5DD90;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .buy {
        position: fixed;
        top: 50%;
        right: 20%;

        h2 {
          text-align: center;
        }

        button {
          padding: 10px 30px;
          font-size: 2rem;
          background-color: #324376;
          color: whitesmoke;
          border-radius: 10px;

          &:hover {
            border: 1px solid #324376;
            background-color: #586BA4;
            color: #F5DD90;
            cursor: pointer;
          }
          
        }
      }
    }
  } 

  footer{
    position: fixed;
    bottom: 0;
    background-color: #324376;  
    width: 100%;

    p {
      font-size: 0.7rem;
      text-align: center;

      a {
        text-decoration: none;
        color: rgb(29, 29, 29);

        &:hover {
          color: rgb(166, 166, 166);
        }

        i {
          font-size: 1.5rem;
          margin-left: 5px;
        }
      }
    }
  }
}