body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;

  nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #324376;

    a {
      text-decoration: none;
      color: black;
    }

    .logo {
      padding: 20px;
      font-size: 1.6rem;

      span{
        font-size: 0.7rem;
      }
    }

    .navbar {
      margin: 0;
      display: flex;
      justify-content: space-between;
      list-style: none;

      .place {
        margin-right: 10px;
        padding: 35px 20px;

        &:hover {
          background-color: #586BA4;
          cursor: pointer;
          color: #F5DD90;
        }
      }
    }
    .cart {
      display: flex;
      justify-content: space-between;
      margin-right: 10px;

      .forCart{
        padding: 30px 20px;
        font-size: 1.7rem;

        &:hover {
          background-color: #586BA4;
          cursor: pointer;
          color: #F76C5E;
        }
      }
    }
  }

  main {

    form {
      display: flex;
      position: fixed;
      top: 100px;
      .filterItem {
        margin: 10px 30px;

        input {
          border: none;
          background-color: white;
          opacity: 60%;
          border-bottom: 2px solid #F68E5F;
         

          &:focus{
            outline: none;
          }
        }

        select {
          opacity: 60%;
          color: #F68E5F;
          border: none;
          border-bottom: 2px solid #F68E5F;
          &:focus{
            outline: none;
          }
        }
      }
    }
    #products {
      margin: 100px;
      display: grid;
      width: 100%;
      grid-template-columns: 20% 20% 20% 20%;
      gap: 20px;

      .product {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 300px;
        border-bottom: 2px solid white;

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid #F68E5F;
          color: #F68E5F;
          border-radius: 100px;
        }

        .productImg {
        width: 300px;
        height: 300px;
        object-fit: contain;
        }

        .productPrice {
          margin: 0;
          
        }
      }
    }
  }

  footer{
    position: fixed;
    bottom: 0;
    background-color: #324376;  
    width: 100%;

    p {
      font-size: 0.7rem;
      text-align: center;

      a {
        text-decoration: none;
        color: rgb(29, 29, 29);

        &:hover {
          color: rgb(166, 166, 166);
        }

        i {
          font-size: 1.5rem;
          margin-left: 5px;
        }
      }
    }
  }
}