body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}
body nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #324376;
  z-index: 99;
}
body nav a {
  text-decoration: none;
  color: black;
}
body nav .logo {
  padding: 20px;
  font-size: 1.6rem;
}
body nav .logo span {
  font-size: 0.7rem;
}
body nav .navbar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
body nav .navbar .place {
  margin-right: 10px;
  padding: 35px 20px;
}
body nav .navbar .place:hover {
  background-color: #586BA4;
  cursor: pointer;
  color: #F5DD90;
}
body nav .cart {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
body nav .cart .forCart {
  padding: 30px 20px;
  font-size: 1.7rem;
}
body nav .cart .forCart:hover {
  background-color: #586BA4;
  cursor: pointer;
  color: #F76C5E;
}
body main form {
  display: flex;
  position: fixed;
  z-index: 99;
  top: 100px;
}
body main form .filterItem {
  margin: 10px 30px;
}
body main form .filterItem input {
  border: none;
  background-color: white;
  opacity: 60%;
  border-bottom: 2px solid #F68E5F;
}
body main form .filterItem input:focus {
  outline: none;
}
body main form .filterItem select {
  opacity: 60%;
  color: #F68E5F;
  border: none;
  border-bottom: 2px solid #F68E5F;
}
body main form .filterItem select:focus {
  outline: none;
}
body main #products {
  margin: 100px 100px;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 20px;
}
body main #products .product {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  border-bottom: 2px solid white;
}
body main #products .product:hover {
  cursor: pointer;
  border-bottom: 2px solid #F68E5F;
  color: #F68E5F;
  border-radius: 100px;
}
body main #products .product .fa-heart {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 2rem;
}
body main #products .product .fa-heart:hover {
  cursor: pointer;
  color: #F5DD90;
}
body main #products .product .liked {
  color: red;
}
body main #products .product .productImg {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
body main #products .product .productPrice {
  margin: 0;
}
body footer {
  position: fixed;
  bottom: 0;
  background-color: #324376;
  width: 100%;
}
body footer p {
  font-size: 0.7rem;
  text-align: center;
}
body footer p a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
body footer p a:hover {
  color: rgb(166, 166, 166);
}
body footer p a i {
  font-size: 1.5rem;
  margin-left: 5px;
}
body footer #admin {
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: rgb(29, 29, 29);
  padding: 5px;
  border: 2px solid rgb(29, 29, 29);
  border-radius: 5px;
}
body footer #admin i {
  color: black;
}
body footer #admin:hover {
  border: 2px solid whitesmoke;
  color: white;
  cursor: pointer;
}
body footer #admin:hover i {
  color: #F68E5F;
}/*# sourceMappingURL=stylesCategories.css.map */