body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;

  nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #324376;

    a {
      text-decoration: none;
      color: black;
    }

    .logo {
      padding: 20px;
      font-size: 1.6rem;

      span{
        font-size: 0.7rem;
      }
    }

    .navbar {
      margin: 0;
      display: flex;
      justify-content: space-between;
      list-style: none;

      .place {
        margin-right: 10px;
        padding: 35px 20px;

        &:hover {
          background-color: #586BA4;
          cursor: pointer;
          color: #F5DD90;
        }
      }
    }
    .cart {
      display: flex;
      justify-content: space-between;
      margin-right: 10px;

      .forCart{
        padding: 30px 20px;
        font-size: 1.7rem;

        &:hover {
          background-color: #586BA4;
          cursor: pointer;
          color: #F76C5E;
        }
      }
    }
  }

  #item {
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;

    #itemImg {
      width: 40%;
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      width: 35%;
      margin-top: 100px;
      margin: 70px;
      text-align: center;

      #itemName {
        font-size: 2rem;
      }

      #itemCategorie {
        text-transform: capitalize;
        font-size: 1.5rem;
        color: #F68E5F;
      }

      #itemColor {
        text-transform: capitalize;
        font-size: 1.5rem;
        color: #F68E5F;
      }

      #itemPrice {
        font-size: 1.8rem;
        color: #F68E5F;
      }

      .sizes {
        display: flex;
        margin: 20px;
        justify-content: space-evenly;

        
          .empty {
            background-color: red;
          }
          span{
            border: 1px solid #324376;
            padding: 8px 10px;
            margin-left: 10px;
          }
          
        
        .empty {
          background-color: red;
        }

        
      }

      #OutOfStock {
        color: red;
        font-size: 1.3rem;
      }

      #itemDescription {
        word-spacing: 0.4rem;
        line-height: 1.5rem;
        text-align: left;
      }
      
      .buttons {
        display: flex;
        justify-content: space-evenly;

        #like {
          font-size: 3.3rem;
          margin: 50px 0;
          margin-right: 20px;
        }

        .liked {
          color: red;
        }

        button {
          padding: 10px 0;
          margin: 40px 0;
          width: fit-content;
          font-size: 1.8rem;
          border: none;
          background-color: white;
          border-bottom: 3px solid white;

          &:hover {
            border-bottom: 3px solid #F68E5F;
            cursor: pointer;
          }
        }
      }
    }
  }

  footer{
    position: fixed;
    bottom: 0;
    background-color: #324376;  
    width: 100%;

    p {
      font-size: 0.7rem;
      text-align: center;

      a {
        text-decoration: none;
        color: rgb(29, 29, 29);

        &:hover {
          color: rgb(166, 166, 166);
        }

        i {
          font-size: 1.5rem;
          margin-left: 5px;
        }
      }
    }
  }
}